<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{learn.header}"/>
                        <p>
                            <a class="footer-href" href="#" th:text="#{learn_1}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{learn_2}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{learn_3}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{learn_4}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{learn_5}"/>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{community.header}"/>
                        <p>
                            <a class="footer-href" href="#" th:text="#{community_1}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{community_2}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{community_3}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{community_4}"/>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{community_5}"/>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{company.header}"/>
                        <p>
                            <a class="footer-href" href="#" th:text="#{company_1}"/>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{company_2}"/>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{company_3}"/>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{company_4}"/>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{company_5}"/>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p th:text="#{javarush.text}">/>
                        <h6 th:text="#{follow}"/>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{cool.text}"/>
    </footer>
</div>
</html>
